# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
*.g.dart
*.freezed.dart

# Android
android/.gradle
android/local.properties
android/app/google-services.json
android/key.properties
*.keystore
*.jks

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Runner/GeneratedPluginRegistrant.*
ios/Runner/GoogleService-Info.plist

# macOS
macos/Pods/
macos/.symlinks/

# IDE
.idea/
.vscode/
*.iml

# Misc
*.log
.DS_Store
Thumbs.db
